.button {
    color: #015089;
}

.bttn {
    background-color: #015089;
    color: white;
    border: none;
    padding: 15px 30px; /* Increase padding for a bigger button */
    max-width: 200px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px; /* Adjust the value to change the roundness */
    font-size: 18px; /* Increase font size for bigger text */
    margin-right: 10px; /* Add margin between buttons */
}

.bttn:hover {
    background-color: white;
    color: #015089;
    border: 2px solid #015089; /* Add border when hovered */
}

.bttn:active {
    background-color: #015089;
    color: white;
    border: 2px solid white; /* Add border when clicked */
}


.bmiPage {
    max-width: 960px; /* Adjust as needed */
    margin-top: 100px; /* Adjust the top margin as needed */
    margin-right: auto; /* Center the content horizontally */
    margin-bottom: 100px;
    margin-left: auto;
    text-align: left;
    font-size: medium;
    padding-left: 50px; /* Adjust the left padding as needed */
}

ul {
    text-align: left; /* Align bullet points to the left */
    max-width: auto; /* Adjust as needed */
    margin: left; /* Center the list */
}

.link {
    text-decoration: underline;
    color: #330072; /* Change color if needed */
}

.pageLink {
    border-left: 3px solid #015089; /* Adjust the width and color as needed */
    margin-top: 10px;
}

.infoContainer {
    padding-left: 10px; /* Adjust the padding as needed */
}

.infoContent {
    border-left: 3px solid #ccc; /* Adjust the width and color as needed */
    margin-top: 10px; /* Adjust the top margin as needed */
}

.infoText {
    margin-left: 10px; /* Adjust the left margin as needed */
}

.childBmi {
border: 0.25em solid #005eb8;
background-color: #FFF;
}

