body {
    line-height: 1.5;
}

.button {
    background-color: #002326;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smoother color change */
}

.labels {
    margin-bottom: 5px;
}


.bttn {
    background-color: #002326;
    color: white;
    border: none;
    padding: 15px 30px; /* Increase padding for a bigger button */
    margin: 10px;
    max-width: 200px;
    min-width: 150px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px; /* Adjust the value to change the roundness */
    font-size: 18px;
    margin-right: 10px; /* Add margin between buttons */
}

.bttn:hover {
    background-color: white;
    color: #002326;
    border: 2px solid #002326; /* Add border when hovered */
}

.bttn:active {
    background-color: #002326;
    color: white;
    border: 2px solid white; /* Add border when clicked */
}

.p_msg{
    text-align: center;
}

.result{
    text-align: center;
}

.bmiPage {
    max-width: 960px; 
    margin-top: 100px; 
    margin-right: auto; 
    margin-bottom: 100px;
    margin-left: auto;
    text-align: left;
    font-size: medium;
    padding-left: 50px; /* Adjust the left padding */
}

ul {
    text-align: left; /* Align bullet points to the left */
    max-width: auto; 
    margin: left; 
}

.link {
    text-decoration: underline;
    color: #002326; 
}

.pageLink {
    border-left: 3px solid #002326; /* Adjust the width and color */
    margin-top: 10px;
}

.infoContainer {
    padding-left: 2px; /* Adjust the padding */
}

.infoContent {
    border-left: 3px solid #ccc; /* Adjust the width and color */
    margin-top: 5px; /* Adjust the top margin  */
}

.infoText {
    margin-left: 3px; /* Adjust the left margin */
}

.parentContainer {
    background-color: white; /* Set background color of parent container to white */
    max-width: 600px;
}

.childBmi {
    border: 0.25em solid #002326;
    background-color: white; /* Set background color of child container to white */
    text-align: left;
    
}

.childBmi h2 {
    background-color: #002326; /* Set background color of heading to #002326 */
    color: white; /* Set text color of heading to white */
    padding: 20px; /* Add padding for better spacing */
    margin: 0; /* Remove default margin */
}

.childBmi h3 {
    padding: 20px; /* Add padding to paragraph text */
    margin: 0; /* Remove default margin */
}

.childBmi p {
    padding: 20px; /* Add padding to paragraph text */
    margin: 0; /* Remove default margin */
}

.bmi-input {
    background-color: white;
    border-color: #002326;
    padding: 20px; /* Add padding */
    max-width: 100px;
    min-width: 60px;
    border-radius: 20px;
    margin: 10px; /* Add margin */
    text-align: center; /* Center the text */
    font-size: medium; 
}

.divider {
    border-top: 1px solid #ccc;
    margin: 20px 0; 
    padding: 0 10%; 
    margin-left: +2.5%; 
    margin-right: +2.5%;
}

.buttonContainer {
    display: flex; /* Use flexbox to arrange buttons horizontally */
    justify-content: space-between; /* Distribute space between buttons */
}

.buttonWrapper {
    text-align: left; /* Center-align text within the button wrapper */
    flex: 1; /* Distribute available space evenly among button wrappers */
}

.buttonWrapper input {
    margin-top: 10px; /* Add space between text and input */
}

.genderWrapper {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: left; /* Center items horizontally */
    padding: 15px; /* Add padding around the container */
}


.genderWrapper label {
    margin-bottom: 10px; /* Add space between radio buttons */
}

.genderWrapper input[type="radio"] {
    transform: scale(3); /* Make radio buttons larger */
    margin-top: 20px;
    margin-right: 20px; /* Add space between radio buttons */
    padding: 5px; /* Add padding around radio buttons */
}

.genderWrapper input[type="radio"]:checked {
    background-color: #002326; /* Set background color when selected */
    border-color: #002326; /* Set border color when selected */
    color: #fff; /* Set text color when selected */
}

  
.bmi-card {
    text-align: center;
}

.bmi-scale h4 {
    font-size: 0.75rem;
    color: black;
  }

  
.bmi-scale div {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    border-top: 5px solid var(--color);
    padding: 10px;
  }
  
.bmi-scale {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.line {
    width: 100%;
    height: 5px;
    background-color: transparent; /* Default color */
}

.underweight .line {
    background-color: orange;
}

.healthy .line {
    background-color: green;
}

.overweight .line {
    background-color: pink;
}

.obese .line {
    background-color: red;
}

.bold {
    font-weight: bold;
}
 