@import "colors.css";


.pageHead{
    display:flex;
    justify-content: space-between;
    position:relative;
    align-items:center;
    /* background-color: var(--headerbackground); */
    background-color: #002326;
}
.headerLogo{
    height:100px;
    margin-top:1vh;
    margin-bottom:1vh;
    margin-left:1vw;
    margin-right:1vw;
}
.pageTitle{
    display: flex;
}
