*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   

}

.title{
    text-align: center;
}
.book{
    padding: 2vw;
    display: flex;
    justify-content: center;
}
.bookingform{
    width: 50%;
}
.book label{
    display: block;
    text-align: left;
    font-size: 20px;
    margin: 0 0 0 0;
}

.book input{
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(214, 218, 247);
    border-color: red;
}

.book .btn{
    
    background-color: rgba(255, 255, 255, 0.979);
    border: 1px solid rgba(186, 101, 255, 0.8);
    border-radius: 10px;
    width: 35%;
    height: 8%;
    font-size: 20px;
    display: block;
    margin: auto;
    margin-top: 30px;
}
.book .btn:hover{
    background-color: rgba(255, 255, 255, 0.979);
    background-color: rgb(199, 204, 243);
}