.container{
    display: block;
    position: absolute;
    width: 80%;
    margin: 10%;
    border: 2px solid red;
}

.cards {
    width: 50%;
    margin: auto;
    border: 2px solid blue;
}
       
.card {
    border: 2px solid #e7e7e7; 
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}