*{
    font-family: "Poppins", sans-serif;
}

.title{
    margin-top: 10px;
}
.container{

    display: block;
    position: absolute;
    width: 80%;
    margin: 10%;
    border: 2px solid red;
}

.btn{
    width: 25%;
    height: 25%;
    background-color: rgba(255, 255, 255, 0.979);
    border: 1px solid rgba(186, 101, 255, 0.8);
    border-radius: 10px;
}

.cards {

    background-color: rgba(80, 131, 241, 0.8);
    border: 1px solid rgba(186, 101, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 20px;
}
       
.card {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    column-gap: 50px;
    row-gap: 50px;
    padding: 50px;
    
}

.Articles{
    padding: 20px;
    margin: 20px;
}

.Articles p, h5, h2{
    padding-top: 10px;
}
